%table#skill_items
  - if skill_items.any?
    %thead
      %tr
        %td= t('.table.name')
        %td= t('.table.level')
        %td
    %tbody
      - for skill_item in skill_items do
        %tr{id: dom_id(skill_item)}
          %td.skill_item__name
            = skill_item.skill.local_name
          %td.skill_item__level
            = t(skill_item.level_key)
          %td= link_to t('actions.delete'), skill_item, method: :delete, class: 'button alert', remote: true
