- set_meta_tags title: [t('offers.search_description.advanced.all'), company.name].join(' '),
                description: prepare_company_meta_description(company)

- breadcrumb :company_offers, company
.row
  = render company
  = render 'companies/menu'
- if company == current_company
  .text-center
    = link_to (fa_icon 'plus', text: t('offers.add_new_offer')), new_offer_path, class: 'custom_button'
- if company_offers.present?
  .offers__search_description= t('offers.index.offer_count', count: company_offers.total_count)
  .offers#offers
    = render company_offers, ref: 'company'
  = paginate company_offers, params: { ref: 'company' }
- else
  .row= blank_slate
