%h1= t('.heading')

%section.applied_offers.card.shadow
  .card-section
    %h3= t('.applied_offers.heading')
    %table
      %tbody
        = render @applied

%section.saved_offers.card.shadow
  .card-section
    %h3= t('.saved_offers.heading')
    %table
      %tbody
        = render @saved
