.row.education_item
  .columns.medium-8
    %span.education_item__organization= education_item.organization
    %br/
    %span.education_item__timespan= timespan(education_item.start_date, education_item.end_date)
    %span.education_item__position= education_item.specialization if education_item.specialization.present?
  - if education_item.location.present?
    .columns.medium-4.text-right
      %span.education_item__location
        = fa_icon 'map-marker'
        = education_item.location.short_format

