= link_to "Back to profile", profile_path
.card
  .card-divider
    %h3= t('.heading')

  .card-section
    - education_items.each do |item|
      = render 'cv_item', item: item, destroyable: true

.card
  .card-divider
    %h4= t('.add_new')
  .card-section
    = simple_form_for @education_item || education_items.new do |f|
      = render 'fields', f: f
      = f.submit "Add entry", class: 'button primary expanded'
