%h1 Edit education and work experience

= link_to "Back to profile", profile_path

%h4 Your education
%table
  %thead
    %tr
      %td Timespan
      %td Description
      %td Actions
  %tbody
    - for item in education_items
      = render partial: 'education_item_w_actions', locals: { education_item: item }

%h4 Add a new entry
= simple_form_for @education_item || education_items.new do |f|
  = render partial: 'shared/errors', locals: { object: f.object }
  = render partial: 'education_items/fields', locals: { prefix: "education_item", f: f }
  = f.select :category, options_from_collection_for_select(I18n.t('items.education_categories'), :first, :last), label: "Typeof education:"
  = f.input :organization_name
  = f.input :specialization, label: "Specialization or field of studies:"
  = f.submit "Add entry", class: 'button primary expanded'
