= link_to "Back to profile", profile_path
%h1= t('.heading')

%table
  %thead
    %tr
      %td= t('.timespan')
      %td= t('.description')
      %td
  %tbody
    = render education_items, show_actions: true
%h4= t('.add_new')
= render 'form'
