.card
  .candidate__avatar
    = avatar_for candidate, editable: can?(:edit, candidate)
  .candidate__details
    - if can? :edit, candidate
      .card-section__actions
        = link_to fa_icon('pencil') + ' ' + I18n.t('actions.edit'), edit_candidate_profile_path, class: 'card-section__actions__button'
    %h2.candidate__name= candidate.display_name
    = sex_age_label(candidate.sex, candidate.profile.age)
    = looking_for_work_label(candidate.profile.looking_for_work)
    %br/
    %span.candidate__profession= candidate.profession.local_name if candidate.profession.present?

