.card
  .row
    .medium-3.columns
      = avatar_for candidate, :avatar
    .medium-9.columns
      %h2.candidate__name= candidate.display_name
      %p
        = sex_age_label(candidate.sex, candidate.profile.age)
        = looking_for_work_label(candidate.profile.looking_for_work)
        %br/
        %span.candidate__profession= candidate.profession.local_name if candidate.profession.present?

      - if can? :edit, candidate
        = link_to t('candidates.show.change_picture'), edit_avatar_path, class: 'button small'
        = link_to t('candidates.show.change_data'), edit_candidate_profile_path, class: 'button small'
  .card-divider
    %h4= t('candidates.show.contact_data')
  .card-section
    .row
      .medium-6.columns
        %table
          %tr
            %th{scope: 'row'} Telefon:
            %td 500 100 800
      .medium-6.columns
        %table
          %tr
            %th{scope: 'row'} E-mail:
            %td user@example.com
  .card-divider
    %h4= t('candidates.show.about')
  .card-section
    %blockquote= Faker::Lorem.sentences(4).join(' ')

