.new_blog_post
  = simple_form_for (@blog_post || [current_company, BlogPost.new]),remote: true, authenticity_token: true do |f|
    = error_messages_for f.object
    = f.invisible_captcha :title
    = f.input :body, as: :text, label: false, input_html: { class: 'new_blog_post__textarea', rows: 3, placeholder: t('.placeholder')}
    .new_blog_post__explanation.float-left.hide-for-small-only= t('.explanation') 
    = f.submit t('.submit'), class: 'button new_blog_post__submit button--reduce-padding', id: "submit_blog_post", name: nil
