.top-bar.show-for-medium
  .row
    .top-bar-left
      %ul.menu
        %li= link_to t('site_name'), root_path
        - if company_signed_in?
          %li= link_to t('topbar.jobs'), offers_path
          %li= link_to t('topbar.candidates'), candidates_path
        -else
          %li= link_to t('topbar.jobs_pl'), offers_path
          %li= link_to t('topbar.jobs_abroad'), offers_path
    .top-bar-right
      %ul.menu
        %li= locale_link((current_locale == :en ? :pl : :en))

        - if signed_in?
          -if admin_signed_in?
            %li= link_to "Dashboard", "#"
          - else
            %li= link_to t('topbar.profile'), profile_path
          %li= link_to t('topbar.sign_out'), destroy_user_session_path, method: :delete 
        - else
          %li= link_to t('devise.sessions.new'), new_user_session_path
          %li= link_to t('devise.registrations.new'), sign_up_path


