.top-bar.show-for-medium
  .row
    .top-bar-left
      %ul.menu
        %li= link_to t('site_name'), root_path
        - if company_signed_in?
          %li= link_to t('nav.jobs'), offers_path
          %li= link_to t('nav.candidates'), candidates_path
        -else
          %li= link_to t('nav.jobs_pl'), offers_path
          %li= link_to t('nav.jobs_abroad'), offers_path
    .top-bar-right
      %ul.menu
        %li= locale_link((current_locale == :en ? :pl : :en))

        - if signed_in?
          -if admin_signed_in?
            %li= link_to "Dashboard", "#"
          - else
            %li= link_to "Profile", profile_path
          %li= link_to t('nav.sign_out'), destroy_user_session_path, method: :delete 
        - else
          %li= link_to t('nav.sign_in'), new_user_session_path
          %li= link_to t('nav.sign_up'), sign_up_path


