.top-bar
  .row
    .top-bar-left
      %ul.menu
        %li= link_to t('site_name'), root_path
        %li= link_to t('topbar.jobs_de'), '#'
        %li= link_to t('topbar.jobs_pl'), '#'
    .top-bar-right
      %ul.menu
        - if signed_in?
          - if current_user.type == "Company"
            %li= link_to "Profile", company_profile_path
          -else
            %li= link_to "Me", profile_path
          %li= link_to "Sign out", destroy_user_session_path, method: :delete 
        - else
          %li= link_to t('topbar.sign_in'), new_user_session_path
          %li= link_to t('topbar.sign_up'), sign_up_path


