.top-bar
  .row
    .top-bar-left
      %ul.menu
        %li= link_to t('site_name'), root_path
        %li= link_to t('topbar.jobs'), offers_path
    .top-bar-right
      %ul.menu
        - if signed_in?
          - if candidate?
            %li= link_to "Profile", company_profile_path
          -elsif company?
            %li= link_to "Me", profile_path
          -elsif admin?
            %li= link_to "Dashboard", "#"
          %li= link_to "Sign out", destroy_user_session_path, method: :delete 
        - else
          %li= link_to t('topbar.sign_in'), new_user_session_path
          %li= link_to t('topbar.sign_up'), sign_up_path


