.top-bar
  .row
    .top-bar-left
      %ul.menu
        %li.menu-text= t 'site_name'
        %li= link_to t('topbar.jobs_de'), '#'
        %li= link_to t('topbar.jobs_pl'), '#'
    .top-bar-right
      %ul.menu
        %li= link_to t('topbar.sign_in'), new_user_session_path
        %li= link_to t('topbar.sign_up'), new_user_registration_path

