.home__offers.callout
  %h3= t('home.featured_offers.heading')
  %ul
    - for offer in @offers
      %li
        = (link_to offer.title, offer) + ","
        = offer.salary + ","
        = offer.short_location
  = link_to t('home.featured_offers.more'), offers_path

