%h2.text-center= t('home.featured_companies.heading')
.row
  - cont_class = "large-#{@companies.size*3} columns collapse small-centered"
  %div{class: cont_class}  
    - @companies.each_with_index do |company, i|
      - if i == @companies.size - 1
        - classes = "large-#{12 / @companies.size} columns end centered"
      - else
        - classes = "large-#{12 / @companies.size} columns centered"
      %div{class: classes}
        = link_to company, title: company.name do
          = avatar_for company, size: :normal
