- set_meta_tags title: t('home.meta_title').titleize,
                description: t('home.meta_description')

= render 'carousel'

%section.home__row3
  .row
    %center
      = link_to t('home.carousel.slide1.sign_up'), sign_up_path, class: 'button large dark-green-bg'
      = link_to t('home.carousel.slide2.sign_up'), new_company_registration_path, class: 'button large'
  .row
    = render 'featured_offers'
%section.home__row4
  .row
    = render 'featured_companies'

