%section.home__row2
  .row
    %h2.text-center= t('offers.basic_search.heading')
    .row
      .medium-8.medium-offset-2.columns
        = form_for offers_path, url: offers_path, method: :get do |f|
          .input-group
            = f.text_field :q, name: 'q', class: 'input-group-field', placeholder: t('offers.basic_search.placeholder'), autocomplete: 'off', id: "basic_search_q"
            .input-group-button
              = f.submit t('offers.basic_search.submit'), class: 'button primary', name: nil

%section
  .row
    .callout.alert-callout-subtle.success
      Success callout
    .callout.alert-callout-subtle.alert
      Alert callout
    .callout.alert-callout-subtle.notice
      Notice callout
    .callout.alert-callout-subtle.warning
      Warning callout

%section.home__row3
  .row
    = render 'featured_offers'
%section.home__row4
  .row
    = render 'featured_companies'
