.row
  .large-10.columns.large-offset-1
    = link_to "Back to profile", profile_path
    .card
      .card-divider
        %h3 Your work experience

      .card-section
        - work_items.each do |item|
          = render 'cv_item', item: item, destroyable: true

    .card
      .card-divider
        %h3 Add a new entry
      .card-section
        = simple_form_for @work_item || work_items.new do |f|
          = render 'fields', f: f
          = f.submit "Add entry", class: 'button primary expanded'
