.row
  .large-10.columns.large-offset-1
    = link_to "Back to profile", profile_path
    .card
      .card-divider
        %h3= t('.heading')

      .card-section
        - work_items.each do |item|
          = render 'cv_item', item: item, destroyable: true

    .card
      .card-divider
        %h3= t('.add_new')
      .card-section
        = simple_form_for @work_item || work_items.new, remote: true do |f|
          = render 'fields', f: f
          = f.submit t('.submit'), class: 'button primary expanded'
