- breadcrumb :orders
%h1= t('.heading')

- if @orders.present?
  %table.orders.hover
    %thead
      %tr
        %td #
        %td= t('.total')
        %td= t('.date')
        %td Status
    %tbody#clickable_table
      - @orders.each do |order|
        - if order.paid?
          - class_names = 'order order--paid'
        - else
          - class_names = 'order order--unpaid'
        %tr{class: class_names, id: dom_id(order), 'data-link' => order_path(order)}
          %td= order.id
          %td= "%.2f %s" % [order.total, order.currency.upcase]
          %td= l order.created_at, format: :long
          %td
            - if order.paid?
              %span.order__status.order__status--paid= fa_icon('thumbs-up', text: t('.paid'))
            - else
              %span.order__status.order__status--unpaid= fa_icon('thumbs-down', text: t('.unpaid'))

