%h1= t('.heading', id: @order.id)

%p
  %strong= t('.currency')
  = @order.currency.upcase
= render @order.cart, currency: @order.currency, view_format: :order, total: @order.total

= form_with url: "https://ssl.dotpay.pl/" + (Rails.env.production? ? 't2/' : 'test_payment/'), method: :post, local: true do |f|
  = f.hidden_field :id, value: dotpay_id(@order.currency)
  = f.hidden_field :api_version, value: 'dev'
  = f.hidden_field :url, value: order_thank_you_path(order_id: @order)
  = f.hidden_field :currency, value: @order.currency.upcase
  = f.hidden_field :amount, value: sprintf("%.2f", @order.total)
  = f.hidden_field :control, value: @order.unique_token
  = f.hidden_field :description, value: t('.payment_description')
  = f.submit t('.confirm_and_pay'), class: 'button large'
