%h1 Order #{@order.unique_token}

%p= @order.payment_description

%p
  Amount:
  = sprintf "%.2f %s", @order.total, @order.currency.upcase

= form_with url: "https://ssl.dotpay.pl/test_payment/", method: :post, local: true do |f|
  = f.hidden_field :id, value: '767542'
  = f.hidden_field :currency, value: @order.currency.upcase
  = f.hidden_field :amount, value: sprintf("%.2f", @order.total)
  = f.hidden_field :control, value: @order.unique_token
  = f.hidden_field :description, value: @order.payment_description
  = f.submit "Confirm and pay with Dotpay", class: 'button large'
