%h1= t('.heading')

= render @cart, view_format: :order

= simple_form_for @order do |f|
  .row
    .medium-6.columns
      %fieldset.fieldset#order-currency
        %legend= t('.payment_currency')
        = f.radio_button :currency, 'pln', checked: true
        = f.label :currency, 'PLN', value: 'PLN'
        = f.radio_button :currency, 'eur'
        = f.label :currency, 'Euro', value: 'Euro'
    .medium-6.columns
      %fieldset.fieldset#order-polish-taxpayer
        %legend= t('.are_you_polish_taxpayer')
        = f.radio_button :polish_taxpayer, true, checked: true
        = f.label :polish_taxpayer, t('true'), value: true
        = f.radio_button :polish_taxpayer, false
        = f.label :polish_taxpayer, t('false'), value: false
        %p
          %small= t('.polish_taxpayer_explanation')

  = f.check_box 'invoice'#, false
  = f.label 'invoice', t('.i_need_invoice')
  = error_messages_for f.object
  %fieldset.fieldset#billing_address
    %legend= t('.billing_address')
    = f.simple_fields_for :billing_address do |ff|
      .row
        .medium-6.columns
          = ff.input :first_name
        .medium-6.columns
          = ff.input :last_name
      .row
        .medium-6.columns
          = ff.input :street
        .medium-3.small-6.columns
          = ff.input :house_no
        .medium-3.small-6.columns
          = ff.input :apt_no
      .row
        .small-6.large-4.columns
          = ff.input :postal_code
        .small-6.large-4.columns
          = ff.input :city
        .large-4.columns
          = ff.input :nip

  = f.submit t('.submit'), class: 'button expanded'
:javascript
  function hideBillingFields() {
    document.getElementById('billing_address').classList.add('hide');
  }
  document.getElementById('order_invoice').addEventListener('change', function(e) {
    if (e.target.checked) {
      document.getElementById('billing_address').classList.remove('hide');
    } else {
      hideBillingFields();
    }
  });
  hideBillingFields();
