%h1= t('.heading')

%p= t('.we_have_registered_your_payment')

- @order.cart_items.each do |item|
  - if !item.offer_ids.nil?
    %li
      = item.quantity
      &times;
      = item.product.local_name
      %p= t('.premium_services_count', count: item.offer_ids.split(',').count)
  - else
    %li
      = item.quantity
      &times;
      = item.product.local_name

= link_to t('.back_to_dashboard'), dashboard_path, class: 'button'
