.candidate_search
  .row
    .columns.medium-8.medium-offset-2
      = form_for candidates_path, method: :get, remote: true do |f|
        .row
          .medium-6.columns
            = f.label :q, t('candidates.search.name')
            = f.text_field :q, value: params[:q], name: 'q'
          .medium-6.columns
            = f.label :prid, t('candidates.search.profession')
            = f.select :prid, localized_collection(@professions, params[:prid] || 0, blank: t('candidates.search.any_profession')), {}, name: 'prid'
        .row
          .medium-6.columns
            = f.label :sex, t('candidates.search.sex')
            - sexes = I18n.t('sexes.long').values.each_with_index.map { |n,i| [i+1,n] }
            = f.select :sex, options_from_collection_for_select(sexes, :first, :last, params[:sex]), {include_blank: t('candidates.search.any_sex')}, name: 'sex'
          .medium-6.columns
            = f.label :o, t('candidates.search.order')
            = f.select :o, options_from_collection_for_select(I18n.t('candidates.search.order_cols'), :first, :last, params[:o]), {}, name: 'o'
        = f.submit t('candidates.search.submit'), class: 'button success expanded', name: nil

