%table
  %thead
    %tr
      %td= t('candidates.index.name')
      %td= t('candidates.index.age')
      %td= t('candidates.index.sex')
      %td= t('candidates.index.profession')
  %tbody
    = yield
