%h1 Edit skills

= link_to "Back to profile", profile_path

%h3 Your skills
- if @skill_items.any?
  %table
    %thead
      %tr
        %td Skill name
        %td Level
        %td Actions
    %tbody#skill_items
      = render partial: 'skill_items/skill_items_w_actions', locals: { skill_items: @skill_items }
      
= simple_form_for @skill_items.new, remote: true do |f|
  .row
    .medium-4.columns
      = f.input :skill_name, label: false, placeholder: "Skill name", url: autocomplete_skills_path, as: :autocomplete, input_html: { autofocus: true }
    .medium-4.columns
      = f.select :level, options_from_collection_for_select(I18n.t('skill_levels'), :first, :last)
    .medium-4.columns
      = f.submit "Add skill", class: 'button primary expanded'
