%h1 Edit education

= link_to "Back to profile", profile_path

%h3 Your education
%table
  %thead
    %tr
      %td Timespan
      %td Description
      %td Actions
  %tbody
    - for cv_item in @cv_items
      = render partial: 'cv_items/cv_item_w_actions', locals: { cv_item: cv_item }

%h3 Add a new entry
= simple_form_for @cv_items.new do |f|
  = render partial: 'cv_items/fields', locals: { f: f }
  = f.select :category, options_from_collection_for_select(I18n.t('cv_items.education_categories'), :first, :last), label: "Typeof education:"
  = f.input :organization_name
  = f.input :position, label: "Specialization or field of studies:"
  = f.submit "Add entry", class: 'button primary expanded'
