%h2.text-center= t('.title')

= render 'search_form'
= paginate @candidates

- @candidates.each_slice(3) do |slice|
  .candidate-grid
    - slice.each do |candidate|
      = render candidate

= paginate @candidates
