- if controller_name == 'profiles'
  - breadcrumb :profile
= render 'candidates/show/header_card'
= render 'candidates/show/contact_data'
= render 'candidates/show/resumes'
= render 'candidates/show/work_card'
= render 'candidates/show/education_card'
= render 'candidates/show/skill_card'

