.row
  .medium-9.columns
    = profile_section nil do
      .medium-4.columns
        = avatar_for current_user
      .medium-8.columns
        %h2= @user.display_name
        = section_link "Change profile picture...", new_avatar_path, :small

    = profile_section "Skills" do
      - if @skill_items.any?
        %table
          %tbody#skill_items
            = render @skill_items
      - else
        No skills.
      = section_link "Edit your skills...", profile_edit_skills_path

    = profile_section "Education" do
      - if @user.education_items.any?
        %table
          %tbody
            - for item in @user.education_items
              %tr{id: dom_id(item)}
                %td
                  %span.education_item__date= l item.start_date, format: :by
                  &ndash;
                  - if item.end_date.present?
                    %span.education_item__date= l item.end_date, format: :by
                  - else
                    present
                %td
                  %span.education_item__category= t('items.education_categories.' + item.category)
                  in 
                  %span.education_item__specialization= item.specialization
                  at
                  %span.education_item__organization_name= item.organization.name

      = section_link "Edit your education...", new_education_item_path
