.row
  .medium-9.columns
    = profile_section nil do
      .medium-4.columns
        = avatar_for current_user
      .medium-8.columns
        %h2= @user.display_name
        %p.candidate__sex= t('sexes.' + @user.sex)
        %p.candidate__profession= @user.profession.local_name if @user.profession.present?
        %p.candidate__looking_for_work
          = t('.looking_for_work.' + @user.looking_for_work.to_s)

        - if can? :edit, @user
          = section_link t('.change_picture'), new_avatar_path, :small
          = section_link t('.change_data'), candidate_step2_path, :small

    = profile_section t('.skills'), color: :red do
      - if @skill_items.any?
        %table
          %tbody#skill_items
            = render @skill_items
      - else
        = t('.no_skills')
      - if can? :edit, @user
        = section_link t('.edit_skills'), profile_edit_skills_path

    = profile_section t('.education'), color: :green do
      - if @user.education_items.any?
        %table
          %tbody
            = render @user.education_items
      - else
        = t('.no_education')
      - if can? :edit, @user
        = section_link t('.edit_education'), new_education_item_path

    = profile_section t('.work_experience'), color: :blue do
      - if @user.work_items.any?
        %table
          %tbody
            = render @user.work_items
      - else
        = t('.no_work_experience') 
      - if can? :edit, @user
        = section_link t('.edit_work'), new_work_item_path
