.row
  .medium-9.columns
    = profile_section nil do
      .medium-4.columns
        = avatar_for current_user
      .medium-8.columns
        %h2= @user.display_name
        = section_link "Change profile picture...", new_avatar_path, :small

    = profile_section "Skills" do
      - if @skill_items.any?
        %table
          %tbody#skill_items
            = render @skill_items
      - else
        No skills.
      = section_link "Edit your skills...", profile_edit_skills_path

    = profile_section "Education" do
      - if @user.education_items.any?
        %table
          %tbody
            = render @user.education_items
      = section_link "Edit your education...", new_education_item_path

    = profile_section "Work experience" do
      - if @user.work_items.any?
        %table
          %tbody
            = render @user.work_items
      = section_link "Edit your work experience...", new_work_item_path
