.row
  .medium-9.columns
    = profile_section nil, color: :maroon do
      .medium-4.columns
        = avatar_for candidate, :avatar
      .medium-8.columns
        %h2= candidate.display_name
        %p
          %span.candidate__sex= t('sexes.' + candidate.sex) + ","
          %span.candidate__age= candidate.profile.age
        %p
          %span.candidate__profession= candidate.profession.local_name + "," if candidate.profession.present?
          %span.candidate__looking_for_work
          = t('.looking_for_work.' + candidate.looking_for_work.to_s)

        - if can? :edit, candidate
          = link_to t('.change_picture'), new_avatar_path, class: 'button'
          = link_to t('.change_data'), candidate_step2_path, class: 'button'

    = profile_section t('.skills'), color: :red do
      %div
        - if candidate.skill_items.any?
          %table
            %tbody#skill_items
              = render candidate.skill_items
        - else
          = t('.no_skills')
      - if can? :edit, candidate
        = link_to t('.edit_skills'), profile_edit_skills_path, class: 'button'

    = profile_section t('.education'), color: :green do
      %div
        - if candidate.education_items.any?
          %table
            %tbody
              = render candidate.education_items
        - else
          = t('.no_education')
      - if can? :edit, candidate
        = link_to t('.edit_education'), new_education_item_path, class: 'button'

    = profile_section t('.work_experience'), color: :blue do
      %div
        - if candidate.work_items.any?
          %table
            %tbody
              = render candidate.work_items
        - else
          = t('.no_work_experience') 
      - if can? :edit, candidate
        = link_to t('.edit_work'), new_work_item_path, class: 'button'
