.row
  .large-9.columns
    = render 'candidates/show/header_card'
    = render 'candidates/show/contact_data'
    = render 'candidates/show/work_card'
    = render 'candidates/show/education_card'
    = render 'candidates/show/skill_card'

