%h5 Please answer a few questions to start looking for jobs.

= simple_form_for user do |f|
  = f.simple_fields_for :profile do |ff|
    = ff.input :looking_for_work, label: "Are you looking for work?", as: :radio_buttons
    = ff.input :first_name
    = ff.input :last_name
  = f.input :profession_name, label: "Profession:"
  = f.submit "Next", class: "button primary expanded" 
