= link_to company do
  - if defined?(tile) && tile
    - class_names = 'company company-row company-row--tile'
  - else
    - class_names = 'company company-row'
  %div{id: dom_id(company), class: class_names}
    .company-row__left
      = avatar_for company, size: 'thumb'
    .company-row__center
      %span.company-row__name= company.name
      %br/
      %small
        = t('plurals.offer', count: @offer_counts[company.id] || 0)
        |
        = fa_icon('star-o', text: company.avg_rating)
