- if defined?(tile) && tile
  = link_to company do
    .company.company-row.company-row--tile{id: dom_id(company)}
      .company-row__left
        = avatar_for company, size: 'thumb'
      - if company.name.present? && company.name.length > 32
        - containerClasses = 'company-row__center company-row__center--no-margin-top'
      - else
        - containerClasses = 'company-row__center'
      %div{class: containerClasses}
        - if company.name.present? && company.name.length > 25
          - classNames = 'company-row__name company-row__name--long'
        - else
          - classNames = 'company-row__name'
        - name = company.name
        - name = highlight_substring(name, params[:q]) if params[:q].present?
        %span{class: classNames}= name
        %br/
        %small
          = t('plurals.offer', count: company.published_offers_count || 0)

-else
  .card.company__header#company_info
    .company__avatar
      = avatar_for company, size: :thumb, editable: can?(:edit, company)

    .company__name_container
      %h2.company__name.company__name--margin-top
        - unless request.path == company_path(company)
          = link_to company.name, company
        - else
          = company.name
    .company__header__offer_count.hide-for-small-only
      %h1= (count = company.offers.published.count)
      = t('companies.show.active_job_offers', count: count)

  .row.container.show-for-small-only
    .company__header__offer_count
      %h1= count
      = t('companies.show.active_job_offers', count: count)
