- if defined?(tile) && tile
  = link_to company do
    .company.company-row.company-row--tile{id: dom_id(company)}
      .company-row__left
        = avatar_for company, size: 'thumb'
      .company-row__center
        %span.company-row__name= company.name
        %br/
        %small
          = t('plurals.offer', count: @offer_counts[company.id] || 0)
          |
          = fa_icon('star-o', text: "%.2f" % (company.avg_rating))

-else
  .card.company__header#company_info
    .company__avatar
      = avatar_for company, size: :thumb, editable: can?(:edit, company)

    .company__name_container
      %h2.company__name.company__name--margin-top
        - unless request.path == company_path(company)
          = link_to company.name, company
        - else
          = company.name
    .company__header__offer_count.hide-for-small-only
      %h1= (count = company.offers.published.count)
      = t('companies.show.active_job_offers', count: count)

  .row.container.show-for-small-only
    .company__header__offer_count
      %h1= count
      = t('companies.show.active_job_offers', count: count)
