%h1= t('.heading')

= simple_form_for company, remote: true, authenticity_token: true do |f|
  = error_messages_for company
  = f.input :name, input_html: { size: 35, class: 'auto-width' }
  .row
    .columns.medium-4
      = f.input :website
    .columns.medium-4
      = f.input :phone
    .columns.medium-4
      = f.input :contact_email
    = f.simple_fields_for :location do |ff|
      = render 'location_fields', f: ff, single: true

  = render 'pagedown', f: f
  = f.submit "Submit", class: 'button expanded success'
