%h1 Edit profile

= simple_form_for company, remote: true do |f|
  = error_messages_for company
  = f.input :name
  = f.input :website
  = f.input :description, as: :text, input_html: { rows: 15 }, label: false
  = f.submit "Submit", class: 'button expanded success'
