.row
  .medium-8.columns
    .card
      .company__avatar
        = avatar_for company
      .company__details
        = render 'companies/show/info'
    - if company.description.present?
      .card
        .card-divider
          %h4= t('companies.show.description')
        .card-section
          %p.company__description!= markdown company.description

  .medium-4.columns
    .card.shadow
      .card-divider
        %h4= t('companies.show.recent_offers')
      .card-section
        - if company.offers.any?
          - company.offers.each do |offer|
            %p= link_to offer.title, offer
