.row
  .medium-8.columns
    .card.shadow
      .card-section
        .row
          - if company.avatar.present?
            .medium-4.columns
              = avatar_for company
            .medium-8.columns
              = render 'companies/show/info'
          - else
            = render 'companies/show/info'
        %hr/
        - if company.description.present?
          %h4= t('companies.show.description')
          %p.company__description!= markdown company.description

  .medium-4.columns
    .card.shadow
      .card-divider
        %h4= t('companies.show.recent_offers')
      .card-section
        - if company.offers.any?
          - company.offers.each do |offer|
            %p= link_to offer.title, offer
