.row
  .medium-8.columns
    .card
      .card-section
        %h3.company__name= company.name
        - if company.website.present?
          = t('companies.show.website')
          = link_to company.website, company.website
        - if can? :edit, company
          = link_to "Edit profile", edit_company_path(company)
        = company.location.to_s if company.location.present?
        %hr/
        %h4= t('companies.show.description')
        %p.company__description= company.description

  .medium-4.columns
    .card
      .card-divider
        %h4= t('companies.show.recent_offers')
      .card-section
        - if company.offers.any?
          - company.offers.each do |offer|
            %p= link_to offer.title, offer
