- breadcrumb :company, company
.row
  .large-8.columns
    = render 'companies/info_card'
    - if can? :edit, company
      .show-for-small-only
        = link_to t('offers.add_new_offer'), new_offer_path, class: 'button expanded'

    - if candidate_signed_in?
      .card#rate_company
        = render 'companies/show/rate'

    - if company.description.present?
      .card#company_description
        .card-divider
          %h3= t('companies.show.description')
        .card-section.company__description
          %p!= markdown company.description


  .large-4.columns
    - if can? :edit, company
      .hide-for-small-only
        = link_to t('offers.add_new_offer'), new_offer_path, class: 'button expanded'

    .card#recent_offers
      .card-divider
        %h3= t('companies.show.recent_offers')
      = render company.recent_offers, short: true, ref: 'company'
      .card-section
        = link_to t('.all_offers'), company_offers_path(company)
