.row
  .large-8.columns
    .card
      .company__avatar
        = avatar_for company, editable: can?(:edit, company)
      .company__details
        = render 'companies/show/info'

    - if company.description.present?
      .card
        .card-divider
          %h4= t('companies.show.description')
        .card-section
          %p.company__description!= markdown company.description

  .large-4.columns
    .card.shadow
      .card-divider
        %h4= t('companies.show.recent_offers')
      .card-section
        %ul.company__recent_offers.no-bullet
        - company.recent_offers.each do |offer|
          %li.no-bullet= link_to offer.title, offer
        %hr/
        = link_to t('.all_offers')
