- breadcrumb :company, company
.row
  .large-8.columns
    = render 'companies/info_card'

    - if candidate_signed_in?
      .card#rate_company
        = render 'companies/show/rate'

    - if company.description.present?
      .card#company_description
        .card-divider
          %h3= t('companies.show.description')
        .card-section
          %p.company__description!= markdown company.description


  .large-4.columns
    .card#recent_offers
      .card-divider
        %h3= t('companies.show.recent_offers')
      = render company.recent_offers, short: true
      .card-section
        = link_to t('.all_offers'), company_offers_path(company)
