- if defined?(view_format) && view_format == :order
  .order
    - if cart.cart_items.present?
      - currency = nil unless defined?(currency)
      %table
        %thead
          %tr
            %td= t('.quantity')
            %td= t('.product_name')
            %td= t('.unit_price')
            %td= t('.net_subtotal')
            %td= t('.gross')
        %tbody
          - cart.cart_items.each do |item|
            %tr
              %td!= item.quantity.to_s + " &times;".html_safe
              %td= item.product.local_name
              %td= item.unit_price_to_s(currency: currency)
              %td= item.subtotal_to_s(net: true, currency: currency)
              %td= item.subtotal_to_s(currency: currency)
        %tfoot
          %tr
            %td
            %td{colspan: 2}= t('.total')

            %td
              = cart.total_to_s(net: true, currency: currency)
            %td
              = cart.total_to_s(currency: currency)

          - if defined?(total)
            %tr
              %td
              %td{colspan: 2}= t('.amount_due')
              %td.text-center{colspan: 2}= Prices.formatted_price(total, currency)

- else
  - colspan = cart.readonly? ? 2 : 3
  .cart__table#cart
    %table.hover
      %thead
        %tr
          - unless cart.readonly?
            %td.cart_item__actions
          %td.cart_item__product_name= t('.product_name')
          %td.cart_item__unit_price= t('.unit_price')
          %td.cart_item__quantity= t('.quantity')
          %td.cart_item__subtotal= t('.subtotal')

      %tbody
        = render cart.cart_items
        %tr.cart__total
          -# Emoji 鬼 ogra U+1f479
          %td{colspan: colspan}
          %td 👹 #{t('.total')}
          %td= cart.total_to_s
        - if company_signed_in? && current_company.balance != 0
          %tr.cart__discount
            %td{colspan: colspan}
            %td= t('.discount')
            %td= Prices.formatted_price(current_company.balance, 'pln')
          %tr.cart__amount_due
            %td{colspan: colspan}
            %td= t('.amount_due')
            %td= Prices.formatted_discounted_price(cart.total, current_company.balance)
    - if company_signed_in? && current_company.balance != 0
      .cart__discount__disclaimer
        %small= t('.discount_disclaimer')

    .text-right
      - unless cart.empty?
        = link_to fa_icon('trash-o', text: t('.empty_cart')), cart_path, method: :delete, class: 'button secondary'
      = link_to fa_icon('credit-card-alt', text: t('.place')), place_order_path, class: "button primary large #{cart.empty? ? 'disabled' : ''}"
