- colspan = cart.readonly? ? 2 : 3
- if cart.user.balance.to_f != 0 || (defined?(@order) && @order.deduction)
  :ruby
    deduction = if defined?(@order) && @order.persisted?
                 @order.deduction
               else
                 Prices.discount(cart.total, cart.user.balance)
               end
  - if deduction
    %tr.cart__discount
      %td{colspan: colspan}
      %td= t('carts.cart.discount')
      %td= Prices.formatted_price(deduction, 'pln')
  %tr.cart__amount_due
    %td{colspan: colspan}
    %td= t('carts.cart.amount_due')
    - if defined?(@order) && @order.persisted?
      %td= Prices.formatted_price(@order.amount_due, 'pln')
    - else
      %td= Prices.formatted_discounted_price(cart.total, cart.user.balance)
