- content_for :full_width do
  - @products.each do |product|
    %section.premium-landing-page__section
      .row
        %h1= product.local_name
        != unsafe_markdown product.local_description

        %p
          Price:
          = localized_currency_value net_price(product.price_pln)
          PLN or
          #{localized_currency_value net_price(product.price_eur)}&euro;
        

        .premium-landing-page__quantity_form
          = form_with model: CartItem.new do |f|
            = f.hidden_field :product_id, value: product.id
            .input-group
              %span.input-group-label Quantity:
              = f.number_field :quantity, value: 1, class: 'input-group-field'
              .input-group-button
                = f.submit "Add To Cart", class: 'button primary'
