- content_for :full_width do
  %section.premium-landing-page__section
    .row
      %h1 Featured Employer Bundle

      %ul
        %li Your company profile will be featured on the homepage
        %li Access the database of candidates looking for work

      %p
        Only 39.99 PLN or 10&euro; a month!
        %small / 49.19 PLN or 12.30&euro; incl. tax.

      = form_with model: CartItem.new do |f|
        = f.hidden_field :quantity, value: 1
        = f.hidden_field :product_id, value: 1
        = f.submit "Order now!", class: 'button primary large'

  %section.premium-landing-page__section
    .row
      %h1 Highlight your offer on the homepage

      %p
        Only 29.99 PLN or 8&euro; a month!
        %small / 36.89 PLN or 9.84&euro; incl. tax.

      = link_to "Order now!", '#', class: 'button large'

  %section.premium-landing-page__section
    .row
      %h1 Highlight your offer on the category page

      %p Your offer will be displayed at the beginning of the category page &ldquo;Jobs abroad&rdquo; or &ldquo;Jobs in Poland&rdquo;.

      %p
        Only 10.99 PLN or 3&euro; a month!
        %small / 13.51 PLN or 3.69&euro; incl. tax.

      = link_to "Order now!", '#', class: 'button large'

  %section.premium-landing-page__section
    .row
      %h1 Highlight your offer

      %p Your offer will be highlighted with a bright color on the category page.

      %p
        Only 5 PLN or 1.50&euro; a month!
        %small / 6.15 PLN or 1.85&euro; incl. tax.

      = link_to "Order now!", '#', class: 'button large'
