%h1 Apply for a Premium Account

%p Register for a premium account to enjoy many benefits.

= form_for subscription do |f|
  %table
    %tbody
      - @prices.each do |p|
        %tr
          %td= f.radio_button 'plan_id', p.name
          %td= p.name
          %td= number_to_currency p.price, unit: "PLN", format: "%n %u"

  = f.submit "Subscribe", class: 'button expanded'

