- set_meta_tags title: t('.sign_in').titleize

.row
  .medium-8.medium-offset-2.columns.padding-for-small
    %h2.text-center= t('.sign_in')
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email
      = f.input :password
      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean
      .actions
        = f.submit t('.sign_in'), class: 'button success expanded'
        = link_to candidate_facebook_omniauth_authorize_path, class: 'button expanded' do
          = fa_icon('thumbs-up', text: t('fb_sign_in'))
    = render "devise/shared/links"
