%ul.fa-ul
  %li
    = fa_icon('calendar li')
    = t('offers.published_time_ago', time: time_ago_in_words(offer.published_at))
  %li
    = fa_icon('money li')
    != salary_and_wage_for(offer)
  %li= fa_icon('location-arrow li', text: offer.location.to_s)
  %li
    = fa_icon('envelope-o li')
    = link_to offer.contact_email, "mailto:#{offer.contact_email}"
  %li
    = fa_icon('phone li')
    = offer.contact_phone
  %li
    = fa_icon('eye li')
    = t('offers.view_count', count: offer.views)

= link_to t('offers.apply_now'), "#", class: 'button success expanded'
