%ul.fa-ul
  %li
    = fa_icon('calendar li fw')
    = t('offers.published_time_ago', time: time_ago_in_words(offer.published_at))
  %li
    = fa_icon('money li')
    != salary_and_wage_for(offer)
  %li= fa_icon('location-arrow li', text: offer.location.to_s)
  %li
    = fa_icon('envelope-o li')
    = link_to offer.contact_email, "mailto:#{offer.contact_email}"
  %li
    = fa_icon('phone li')
    = offer.contact_phone
  %li
    = fa_icon('eye li')
    = t('offers.view_count', count: offer.views)
  %li
    = fa_icon('user li')
    = offer.applicant_count_in_words

- if signed_in?
  - if candidate_signed_in?
    - if offer.candidate_applied?(current_candidate)
      %span.offer__already-applied
        =t("applications.already_applied.#{current_candidate.profile.sex}")
    - else
      = link_to t('offers.apply_now'), new_offer_application_path(offer_id: offer), class: 'button success expanded'
- else
  = link_to t('offers.apply_now'),
    new_user_session_path(return_to: new_offer_application_path(offer_id: offer)), class: 'button success expanded'
  
