= render 'sign_in_to_apply'
%ul.fa-ul
  - if offer.published?
    %li
      = fa_icon('calendar li fw')
      = t('offers.published_time_ago', time: time_ago_in_words(offer.published_at))
  %li
    = fa_icon('money li')
    != salary_and_wage_for(offer)
  %li= fa_icon('map-marker li', text: offer.location.to_s)
  - if offer.contact_email.present?
    %li.lowercase
      = fa_icon('envelope li')
      = link_to add_soft_break_to_email(offer.contact_email), "mailto:#{offer.contact_email}"
  - if offer.contact_phone.present?
    %li
      = fa_icon('phone li')
      = offer.contact_phone
  %li
    = fa_icon('eye li')
    = t('offers.view_count', count: offer.views)
  - if offer.field.present?
    %li
      = fa_icon('briefcase li')
      = offer.field.local_name

