%tr.cart_item{id: dom_id(cart_item)}
  - unless cart_item.readonly?
    %td.cart_item__actions
      = link_to fa_icon('trash'), cart_item, method: :delete, remote: true, data: { confirm: t('cart_items.actions.destroy.confirmation') }
  %td.cart_item__product_name= cart_item.product.local_name
  %td.cart_item__unit_price= cart_item.product.unit_price.to_s
  %td.cart_item__quantity
    &times;
    = cart_item.quantity
    - unless cart_item.readonly?
      = link_to fa_icon('pencil'), edit_cart_item_path(cart_item), remote: true, data: { edit_cartitem: true }
  %td.cart_item__subtotal= cart_item.subtotal_to_s

