%h1 Payment details

%p Description: #{@payment.description}

%p
  Amount:
  = sprintf "%.2f %s", @payment.amount, @payment.currency.upcase

= form_with url: "https://ssl.dotpay.pl/test_payment/", method: :post, local: true do |f|
  = f.hidden_field :id, value: '767542'
  = f.hidden_field :currency, value: @payment.currency.upcase
  = f.hidden_field :amount, value: sprintf("%.2f", @payment.amount)
  = f.hidden_field :description, value: @payment.description
  = f.submit "Confirm and pay with Dotpay", class: 'button large'
