- classes = 'advanced_search medium-10 medium-offset-1 columns'
- classes << ' hide' if defined?(hidden) && hidden
%section{class: classes}
  .text-center
    = link_to t('offers.index.basic_search'), offers_path(adv: '0'), id: 'show_basic_search'
  = form_for offers_path, method: :get, remote: true do |f|
    = f.hidden_field :adv, name: 'adv',value: "1"
    = f.label :q, t('.term')
    = f.text_field :q, name: 'q', id: "advanced_search_q"
    .row
      .medium-6.columns
        = f.label :cid, t('.country')
        = f.select :cid, localized_collection(@countries, 0, blank: t('.any_country')), {}, name: 'cid', data: {'country-select': ''}
      .medium-6.columns
        = f.label :pid, t('.province')
        = f.select :pid, localized_collection(@provinces, 0, blank: t('offers.provinces.blank')), {}, name: 'pid', data: {'province-select': ''}, 'aria-describedby' => 'provinceSelectHelptext'
    %noscript
      %p.help-text#provinceSelectHelptext= t('offers.index.noscript')
    .row
      .medium-6.columns
        = f.label :smin, t('.salary_min')
        = f.text_field :smin, name: 'smin'
      .medium-6.columns
        = f.label :cur, t('.currency')
        = f.select :cur, options_from_collection_for_select(I18n.t('currencies'), :first, :last), {include_blank: t('.any_currency')}, name: 'cur'
    = f.submit t('.submit'), class: 'button expanded success', name: nil


