- classes = 'advanced_search large-8 large-offset-2 medium-10 medium-offset-1 columns padding-for-small'
%section{class: classes}
  .text-center
  = form_for offers_path, method: :get, remote: true do |f|
    = f.hidden_field :adv, name: 'adv',value: "1"
    = f.label :q, t('.term')
    = f.text_field :q, name: 'q', id: "advanced_search_q"
    .row
      - unless defined?(only_poland) && only_poland
        .medium-6.columns
          = f.label :cid, t('.country')
          = f.select :cid, localized_collection(@countries, params[:cid] || 0, blank: t('.any_country')), {}, name: 'cid', data: {'country-select': ''}
      .medium-6.columns
        = f.label :pid, t('.province')
        = f.select :pid, localized_collection(@provinces || [], params[:pid] || 0, blank: t('offers.provinces.blank')), {}, name: 'pid', data: {'province-select': ''}, 'aria-describedby' => 'provinceSelectHelptext'
    %noscript
      %p.help-text#provinceSelectHelptext= t('offers.index.noscript')
    .row
      .medium-6.columns
        = f.label :smin, t('.salary_min')
        = f.text_field :smin, name: 'smin'
      - unless defined?(only_poland) && only_poland
        .medium-6.columns
          = f.label :cur, t('.currency')
          = f.select :cur, options_from_collection_for_select(I18n.t('currencies'), :first, :last), {include_blank: t('.any_currency')}, name: 'cur'
    = f.submit t('.submit'), class: 'button expanded', name: nil


