.card
  .card-section
    - if candidate_signed_in?
      - if offer.candidate_applied?(current_candidate)
        %small= offer.applicant_count_in_words
        %br/
        = t("applications.already_applied.#{current_candidate.sex}")
      - else
        = render 'application_form'
    - elsif can? :manage, offer
      .applicant_count.callout
        %p= offer.applicant_count_in_words
        = link_to t('applications.applicant_count_callout.link_text'), offer_applications_path(offer)
    - elsif !signed_in?
      = render 'sign_in_to_apply'
