#offer_aplication.offer_application
  #application_form.hide
    .callout
      %button.close-button{'data-toggle-application-form': ''}  &times;
      %h4= t('applications.form.heading')
      = form_for [offer, offer.applications.new] do |f|
        = f.label :memo, t('applications.form.memo')
        = f.text_area :memo, rows: 5
        = f.submit t('applications.form.submit'), class: 'button expanded success'
  = link_to t('applications.form.show_form'), '#', class: 'button primary expanded', data: { 'toggle-application-form': '' }, id: 'show_application_form'
