.card.shadow.offer__description
  .card-divider
    %h4= t('offers.show.details')
    %p= offer.location
    %p= readable_currency_range(offer.salary, offer.currency) if offer.salary.present?
  .card-section
    %h4= t('offers.show.description')
    = markdown offer.description

