%table.unstriped.offer__data
  %tbody
    %tr
      %th{scope:'row'}= t('offers.show.company')
      %td= offer.company.name
    %tr
      %th{scope:'row'}= t('offers.show.location')
      %td= offer.full_location
    %tr
      %th{scope:'row'}= t('offers.show.salary')
      %td= offer.salary
    %tr
      %th{scope:'row'}= t('offers.show.contact_email')
      %td= offer.contact_email
    %tr
      %th{scope:'row'}= t('offers.show.contact_phone')
      %td= offer.contact_phone


