.card.shadow
  .card-section
    %h4= offer.title
    %small
      = t('offers.published_time_ago', time: time_ago_in_words(offer.published_at)) if offer.published_at.present?
      &bull;
      = link_to offer.company.name, offer.company
      &bull;
      = offer.location
    = render 'save_offer'
    = render 'actions'
