%table.unstriped.offer__data
  %tbody
    %tr
      %th{scope:'row'} Company
      %td= offer.company.name
    %tr
      %th{scope:'row'} Location
      %td= offer.full_location
    %tr
      %th{scope:'row'} Salary
      %td= offer.salary
    %tr
      %th{scope:'row'} Contact email:
      %td= offer.contact_email
    %tr
      %th{scope:'row'} Contact phone:
      %td= offer.contact_phone


