.offer_search_description
  = @search_description
  = t('offers.index.offer_count', count: @offers.total_count)
  = reset_search_link if @search_description.present?
.offer-list#offers
  - if @offers.any?
    = render @offers
  - else
    = t('offers.index.no_offers')
= paginate @offers

