%div{id: dom_id(offer), class: 'offer offer__row'}
  .row
    .medium-9.columns
      %strong= (link_to offer.title, offer)
      %br
      %small
        %span.offer__location= offer.short_location + ","
        %span= short_salary(offer)
      %br/
    .medium-3.columns.offer__actions.text-right
      = link_to offer.company.name, offer.company
      %br/
      = link_to "Save offer", "#"
