- if defined?(short) && short
  %tr{id: dom_id(offer), class: 'offer tile'}
    %td= link_to offer.title, offer
    %td= short_salary(offer)
    %td= offer.location.short_format
- else
  = link_to offer, class: 'tile__link' do 
    %div{id: dom_id(offer), class: 'offer tile'}
      - if offer.title.length >= 22
        - title_class = 'offer-tile__title offer-tile__title--small'
      - else
        - title_class = 'offer-tile__title'
      %span{class: title_class}= offer.title
      %span.offer-tile__company= fa_icon 'building-o', text: offer.company.name
      %span.offer-tile__salary= fa_icon 'money', text: short_salary(offer)
      %span.offer-tile__location= fa_icon 'map-marker', text: offer.location.short_format

