- if defined?(short) && short
  %div{id: dom_id(offer), class: 'offer'}
    = link_to offer_path(offer, ref: (defined?(ref) && ref)) do
      - if defined?(show_company) && show_company
        .offer__left
          = avatar_for offer.company, size: :thumb
      .offer__center
        %span.offer__title= offer.title.truncate(26, separator: /\s/)
        - if defined?(show_company) && show_company
          %span.offer__company= fa_icon('building-o', text: offer.company_name)
        %span.offer__salary= fa_icon 'money', text: short_salary(offer)
        %span.offer__location= fa_icon 'map-marker', text: offer.location.short_format

- elsif defined?(block) && block
  - if logged_in?
    - url = new_offer_application_path(offer_id: offer)
  - else
    - url = new_user_session_path(return_to: new_offer_application_path(offer_id: offer))
  .offer-block{id: dom_id(offer)}
    .offer-block__content
      = link_to offer.title, offer, class: "offer-block__title"
      %span.offer-block__location= offer.location.short_format
      = link_to offer, title: offer.company.name do
        %span.offer-block__company= avatar_for(offer.company, size: :thumb)
      = link_to t('offers.apply_now'), url, class: 'button offer-block__cta'

- elsif defined?(dashboard) && dashboard
  %tr.offer-tr{id: dom_id(offer)}
    %td= check_box_tag 'offer_ids[]', offer.id, false
    %td
      .offer_dashboard__title= offer.title
      .offer_dashboard__actions
        = link_to promote_offer_path(offer) do
          %strong= t('actions.promote')
        \|
        = link_to t('actions.view'), offer
        \|
        = link_to t('actions.edit'), edit_offer_path(offer)
        \|
        - if offer.published?
          = link_to t('actions.unpublish'), unpublish_offer_path(offer), method: :patch
        - else
          = link_to t('actions.publish'), publish_offer_path(offer), method: :patch
    %td
      .offer_dashboard__location= offer.location
      - if offer.is_featured?
        .offer_dashboard__premium
          - if offer.highlighted?
            %span.offer_dashboard__highlighted= t('offers.my_offers.highlighted')
          - if offer.category_featured?
            %span.offer_dashboard__category_featured= t('offers.my_offers.category_featured')
          - if offer.homepage_featured?
            %span.offer_dashboard__homepage_featured= t('offers.my_offers.homepage_featured')
    %td
      - if offer.published?
        = offer.published_at.strftime("%Y-%m-%d")
      - else
        = t('false')


- else
  = link_to offer_path(offer, ref: (defined?(ref) && ref) || params[:ref]), class: 'no-underline' do 
    %div{id: dom_id(offer), class: "offer offer-row #{offer.highlighted? ? 'offer-row--highlighted' : ''}"}
      .offer-row__logo
        = avatar_for offer.company, size: :thumb
      %span.offer-row__title
        = offer.title
        - if offer.category_featured?
          %span.offer__premium_label PREMIUM
      .offer-row__details
        %span.offer-row__company= fa_icon 'building-o', text: offer.company_name
        %span.offer-row__salary= fa_icon 'money', text: short_salary(offer)
        %span.offer-row__published_at
          - if offer.published?
            = fa_icon 'clock-o', text: t('offers.published_time_ago', time: time_ago_in_words(offer.published_at))
          - else
            = fa_icon 'clock-o', text: t('offers.not_published')
      .offer-row__right
        %span.offer-row__location= fa_icon 'map-marker', text: offer.location.to_s
        %span.offer-row__views.hide-for-small-only= fa_icon 'eye', text: t('offers.view_count', count: offer.views)
