.offer_search_description
  = @search_description
  = reset_search_link if @search_description.present?
= paginate @offers
.offer-list
  - if @offers.any?
    - for offer in @offers
      = render partial: 'offers/offer_row', locals: { offer: offer }
  - else
    = t('offers.index.no_offers')
= paginate @offers

