%div{id: dom_id(offer), class: 'offer offer__row'}
  .row
    .medium-9.columns
      %strong= (link_to offer.title, offer)
      &ndash;
      = link_to offer.company.name, offer.company
      %br/
      %span= short_salary(offer) + ","
      %span.offer__location= offer.short_location
      %br
      %p.offer__row__description= truncate(offer.description, length: 120, separator: ' ')
    .medium-3.columns.offer__actions.text-right
      = link_to "Save offer", "#"
