- if !@offers.nil?
  .row
    .offers__search_description
      = @search_description
      = t('offers.index.offer_count', count: @total_count)
      = reset_search_link if @search_description.present?
  .offer-list#offers
    - check_feat = false
    - if @offers.first.category_featured?
      %h4= t('offers.index.featured_offers')
      - check_feat = true

    - @offers.length.times do |i|
      = render @offers[i]
      - if check_feat && @offers[i].category_featured? && @offers[i+1].present? && !@offers[i+1].category_featured?
        %h4= t('offers.index.remaining_offers')
        - check_feat = false
    - if @featured.present?
      %hr
      %h4= t('offers.index.didnt_find_take_a_look')
      = render @featured
  = paginate @offers
- else
  = render 'no_offers_found'
