- breadcrumb :jobs_abroad

%h2.text-center= t('.heading')
.row
  = render partial: 'basic_search'

.offers__popular_locations.text-center
  %h4= t('offers.popular_countries')
  - @popular_locations.each do |location|
    = render 'popular_location', location: location, link_param: :cid
#offer-list
  = render 'offers'
