- breadcrumb :jobs_abroad

- content_for :banner do
  .banner.banner--london
    %h2.text-center= t('.heading')
    .row
      = render 'abroad_search'

.row
  .offers__popular_locations.text-center
    %h4= t('offers.popular_countries')
    - @popular_locations.each do |location|
      = render 'popular_location', location: location, link_param: :cid
  #offer-list
    = render 'offers'
