%h1 Job offers

%section.advanced_search.callout
  %h4= t('.advanced_search')
  = form_for offers_path, method: :get do |f|
    = f.label :q, t('.term')
    = f.text_field :q, name: 'q'
    .row
      .medium-6.columns
        = f.label :cid, t('.country')
        = f.select :cid, localized_collection(@countries, 166), {}, name: 'cid'
      .medium-6.columns
        = f.label :pid, t('.province')
        = f.select :pid, localized_collection(@provinces, @provinces.first.id, blank: t('offers.provinces.blank')), {}, name: 'pid'
    .row
      .medium-6.columns
        = f.label :smin, t('.salary_min')
        = f.text_field :smin, name: 'smin'
      .medium-6.columns
        = f.label :cur, t('.currency')
        = f.select :cur, options_from_collection_for_select(I18n.t('currencies'), :first, :last), {}, name: 'cur'
    = f.submit t('.submit'), class: 'button expanded success', name: nil

= paginate offers

- if offers.any?
  %table.unstriped.hover
    %thead
      %td= t('offers.table.title')
      %td= t('offers.table.company')
      %td= t('offers.table.salary')
      %td= t('offers.table.location')
      %tbody
        - for offer in offers
          = render partial: 'offers/offer_row', locals: { offer: offer }
- else
  = t('.no_offers')

= paginate offers
- if can? :create, Offer
  = link_to t('offers.add_new_offer'), new_offer_path, class: 'button'
