%h2.text-center= t('.heading')

- show_advanced = params[:adv].present? && params[:adv] == '1'
.row
  = render partial: 'basic_search', locals: {hidden: show_advanced}
.row
  = render partial: 'advanced_search', locals: {hidden: !show_advanced}

- if can? :create, Offer
  = link_to (fa_icon 'plus', text: t('offers.add_new_offer')), new_offer_path, class: 'custom_button'
#offer-list
  = render partial: 'offers'
