- breadcrumb :my_offers
%h2= t('dashboards.company_dashboard.my_offers')

= form_with url: update_many_offers_path, method: :patch do |f|
  = render 'bulk_actions', top: true
  .responsive_table
    %table.offer_dashboard.striped
      %thead.offer_dashboard__thead
        %tr
          = render 'table_labels'
      %tbody
        = render @offers, dashboard: true
      %tfoot.offer_dashboard__tfoot
        %tr
          = render 'table_labels'
  = render 'bulk_actions'

:javascript
  var checkedState = false;
  var handler = function(e) {
    checkedState = e.target.checked;
    toggleSelection('offer_ids[]', checkedState);
    toggleSelection('toggle_selection', checkedState);
  };
  var toggleSelectionElems = document.getElementsByName('toggle_selection');
  for (var i=0; i < 2; i++) {
    toggleSelectionElems[i].addEventListener("change", handler);
  }

  var selects = document.querySelectorAll('select.offer_dashboard__bulk_action');
  for (var i=0; i<selects.length; i++) {
    selects[i].addEventListener('change', function(e) {
      var submitId = 'apply_bulk_action';
      if (e.target.id.match(/top$/))
        submitId += '_top';
      document.getElementById(submitId).disabled = !e.target.value;
    }, false);
  }
