%h1= @title || t('.heading')

= simple_form_for offer, remote: true, authenticity_token: true do |f|
  = error_messages_for f.object
  .page-header
    %h4= t('.basic_information')
  = invisible_captcha
  = f.invisible_captcha :subtitle
  = f.input :title, label: t('offers.fields.title'), input_html: { size: 50, class: 'auto-width' }
  = f.label :field_id, t('offers.fields.field')
  .auto-width= f.select :field_id, options_from_collection_for_select(@fields, :id, :local_name, offer.field_id), include_blank: t('offers.placeholders.field')

  = f.simple_fields_for :locations do |ff|
    = render 'location_fields', f: ff
  #locations
    = link_to_add_association t('offers.fields.add_location'), f, :locations
    
  .page-header
    %h4= t('.wages')
  = f.label :currency, t('offers.fields.currency')
  .auto-width
    = f.select :currency, options_from_collection_for_select(t('currencies'), :first, :last, offer.currency)
  %h5= t('offers.fields.salary_html')
  .row
    .medium-6.columns
      = f.input :salary_min, label: t('offers.fields.salary_min'), input_html: { 'aria-describedby' => 'salary_help_text', value: low_bound(offer.salary) }
      %p.help-text#salary_help_text= t('offers.fields.salary_help_text')
    .medium-6.columns
      = f.input :salary_max, label: t('offers.fields.salary_max'), input_html: { 'aria-describedby' => 'salary_help_text', value: high_bound(offer.salary) }
  %h5= t('offers.fields.hourly_wage_html')
  .row
    .medium-6.columns
      = f.input :hourly_wage_min, label: t('offers.fields.hourly_wage_min'), input_html: { 'aria-describedby' => 'hourly_wage_help_text', value: low_bound(offer.hourly_wage) }
      %p.help-text#hourly_wage_help_text= t('offers.fields.hourly_wage_help_text')
    .medium-6.columns
      = f.input :hourly_wage_max, label: t('offers.fields.hourly_wage_max'), input_html: { 'aria-describedby' => 'hourly_wage_help_text', value: high_bound(offer.hourly_wage) }

  .page-header
    %h4= t('.language_requirements')
  .row
    .medium-4.columns
      = f.label :req_lang_1, t('offers.fields.req_lang_1')
      = f.select :req_lang_1, options_from_collection_for_select(t('language_requirements.languages'), :first, :last, offer.req_lang_1), include_blank: t('language_requirements.placeholder')
    .medium-1.columns.second_language
      &nbsp;
      .relative
        %strong.offer_form__and_or= t('and_or')
    .medium-4.columns.second_language
      = f.label :req_lang_2, t('offers.fields.req_lang_2')
      = f.select :req_lang_2, options_from_collection_for_select(t('language_requirements.languages'), :first, :last, offer.req_lang_2), include_blank: true
    .medium-3.column

  .page-header
    %h4= t('.application')
  %fieldset.fieldset
    %legend= t('.application_method')
    .row
      = f.input :apply_on_website, as: :radio_buttons,
        collection: t('.apply_on_website'), label_method: :last,
        value_method: :first, label: false, item_wrapper_class: 'columns medium-6'
    .row.hide-for-small-only
      .medium-6.columns
        %small= t('.apply_via_injobs_desc')

      .medium-6.columns
        %small= t('.external_form_desc')
  = f.input :application_url, label: t('offers.fields.application_url'), as: :url

  .row
    .medium-6.columns
      = f.input :contact_email, label: t('offers.fields.contact_email')
    .medium-6.columns
      = f.input :contact_phone, label: t('offers.fields.contact_phone')
  = render 'pagedown', f: f
  = f.submit "Save", class: 'button success expanded'

:javascript
  var req1 = document.getElementById('offer_req_lang_1').value;
  !req1 && $('.offer_application_url, .second_language').addClass('hide');
  document.getElementById('offer_req_lang_1').addEventListener('change', e => {
    if (!e.target.value || e.target.value === "1")
      $('.second_language').addClass('hide');
    else
      $('.second_language').removeClass('hide');
  });
  $('.offer_apply_on_website input').click(function(e) {
    if ($(this).val() == 'true')
      $('.offer_application_url').removeClass('hide');
    else
      $('.offer_application_url').addClass('hide');
  });
