%h1= @title || t('.title')

= simple_form_for offer do |f|
  = render partial: 'shared/errors', locals: { object: f.object }
  = f.input :title, label: t('offers.fields.title')
  = f.label :currency, t('offers.fields.currency')
  = f.select :currency, options_from_collection_for_select(t('currencies'), :first, :last)
  .row
    .medium-6.columns
      = f.input :salary_min, label: t('offers.fields.salary_min')
    .medium-6.columns
      = f.input :salary_max, label: t('offers.fields.salary_max')
  = f.input :contact_email, label: t('offers.fields.contact_email')
  = f.input :contact_phone, label: t('offers.fields.contact_phone')
  .row
    .medium-6.columns
      = f.label :country, t('offers.fields.country')
      = f.select :country_id, localized_collection(@countries, offer.country_id || 166)
    .medium-6.columns
      = f.label :province, label: t('offers.fields.province')
      = f.select :province_id, localized_collection(@provinces, offer.province_id)
  = f.input :location, label: t('offers.fields.location')
  %h5.text-center= t('offers.fields.description')
  = render 'shared/textile_info'
  .row
    .medium-6.columns
      = f.input :description, as: :text, input_html: { rows: 15 }, label: false
    .medium-6.columns.offer__preview
      #offer__preview.offer__preview-contents
        - if offer.persisted?
          != textilize offer.description
        - else
          = t('offers.placeholders.preview') 
  = f.submit "Save", class: 'button success expanded'

