%h1= @title || "Create new offer"

= simple_form_for offer do |f|
  = render partial: 'shared/errors', locals: { object: f.object }
  = f.input :title
  = f.input :currency
  = f.input :salary_min, label: "Minimal salary"
  = f.input :salary_max, label: "Maximal salary"
  = f.input :contact_email
  = f.input :contact_phone
  = f.input :location
  = f.input :description, as: :text, input_html: { rows: 15 }
  = f.submit "Save", class: 'button success expanded'

