%h1= @title || "Create new offer"

= simple_form_for offer do |f|
  = render partial: 'shared/errors', locals: { object: f.object }
  = f.input :title
  = f.label :currency, "Currency:"
  = f.select :currency, options_from_collection_for_select(t('currencies'), :first, :last)
  .row
    .medium-6.columns
      = f.input :salary_min, label: "Minimal salary"
    .medium-6.columns
      = f.input :salary_max, label: "Maximal salary"
  = f.input :contact_email
  = f.input :contact_phone
  = f.input :location
  .row
    .medium-6.columns
      = f.label :country
      = f.select :country_id, options_from_collection_for_select(@countries, :id, :name_en, offer.country_id || 166)
    .medium-6.columns
      = f.label :province
      = f.select :province_id, options_from_collection_for_select(@provinces, :id, :name_en)
  .row
    .medium-6.columns
      = f.input :description, as: :text, input_html: { rows: 15 }
    .medium-6.columns#offer__preview.offer__preview
  .row
    .medium-6.columns
      = link_to "Preview", "#", class: 'button primary expanded', id: 'preview_offer_btn'
    .medium-6.columns
      = f.submit "Save", class: 'button success expanded'

