%h1= @title || t('.heading')

= simple_form_for offer, remote: true do |f|
  = error_messages_for f.object
  = f.input :title, label: t('offers.fields.title')
  = f.label :currency, t('offers.fields.currency')
  = f.select :currency, options_from_collection_for_select(t('currencies'), :first, :last, offer.currency)
  %h5= t('offers.fields.salary_html')
  .row
    .medium-6.columns
      = f.input :salary_min, label: t('offers.fields.salary_min'), input_html: { 'aria-describedby' => 'salary_help_text', value: low_bound(offer.salary) }
    .medium-6.columns
      = f.input :salary_max, label: t('offers.fields.salary_max'), input_html: { 'aria-describedby' => 'salary_help_text', value: high_bound(offer.salary) }
  %p.help-text#salary_help_text= t('offers.fields.salary_help_text')
  %h5= t('offers.fields.hourly_wage_html')
  .row
    .medium-6.columns
      = f.input :hourly_wage_min, label: t('offers.fields.hourly_wage_min'), input_html: { 'aria-describedby' => 'hourly_wage_help_text', value: low_bound(offer.hourly_wage) }
    .medium-6.columns
      = f.input :hourly_wage_max, label: t('offers.fields.hourly_wage_max'), input_html: { 'aria-describedby' => 'hourly_wage_help_text', value: high_bound(offer.hourly_wage) }
  %p.help-text#hourly_wage_help_text= t('offers.fields.hourly_wage_help_text')
  = f.input :contact_email, label: t('offers.fields.contact_email')
  = f.input :contact_phone, label: t('offers.fields.contact_phone')
  .row
    .medium-6.columns
      = f.label :country, t('offers.fields.country')
      = f.select :country_id, localized_collection(@countries, offer.country_id || 166, blank: false), {}, data: {'country-select': ''}
    .medium-6.columns
      = f.label :province, label: t('offers.fields.province')
      = f.select :province_id, localized_collection(@provinces, offer.province_id || 0, blank: t('offers.provinces.blank')), {}, data: {'province-select': ''}
  = f.input :location, label: t('offers.fields.location'), input_html: { disabled: offer.try(:province_id) != '0' }
  %h5.text-center= t('offers.fields.description')
  = render 'shared/textile_info'
  .row
    .medium-6.columns
      = f.input :description, as: :text, input_html: { rows: 15 }, label: false
    .medium-6.columns.offer__preview
      #offer__preview.offer__preview-contents
        - if offer.description.present?
          != safe_textilize offer.description
        - else
          = t('offers.placeholders.preview') 
  = f.submit "Save", class: 'button success expanded'

