- breadcrumb :jobs_poland
%h2.text-center= t('.heading')

.row
  = render 'basic_search'

.offers__popular_locations.text-center
  %h4= t('offers.popular_voivodeships')
  - @popular_locations.each do |location|
    = render 'popular_location', location: location, link_param: :pid
#offer-list 
  = render 'offers'
