%h2.text-center= t('.heading')

.row
  = render 'basic_search', hide_adv_link: true

.row
  .medium-3.columns
    = render 'filter_sidebar'

  .medium-9.columns
    .offers.card.shadow#offer-list
      = render partial: 'offers'
    - if can? :create, Offer
      = link_to t('offers.add_new_offer'), new_offer_path, class: 'button'
