%h2.text-center= t('.heading')

.row
  = render 'basic_search', hide_adv_link: true

.popular_regions.text-center
  %h4= t('offers.index.most_popular_regions')
  - @popular_regions.each do |region|
    = link_to region['name'], pid: region['id'].to_i, remote: true
    %small= '(' + region['cnt'].to_s + ')'

- if can? :create, Offer
  = link_to t('offers.add_new_offer'), new_offer_path, class: 'button'
#offer-list 
  = render 'offers'
