%h2.text-center= t('.heading')

.row
  = render 'basic_search', hide_adv_link: true

.offers__popular_locations.text-center
  %h4= t('.popular_locations')
  - @popular_locations.each do |location|
    = render 'popular_location', location: location, link_param: :pid

- if can? :create, Offer
  = link_to t('offers.add_new_offer'), new_offer_path, class: 'button'
#offer-list 
  = render 'offers'
