= link_to "Back to list", offers_path
%h1= t('.heading') + offer.title

= render 'actions'
.row
  .medium-6.columns
    = render 'details'
  .medium-6.columns
    - if candidate_signed_in?
      - if offer.candidate_applied?(current_candidate)
        = render 'already_applied'
      - else
        = render 'application_form'
    - elsif (company_signed_in? && current_company.id == offer.company_id) || admin_signed_in?
      = render 'applicant_count'
    - elsif !signed_in?
      = render 'sign_in_to_apply'

%h3 Description
.offer__description
  != textilize offer.description

= render 'actions'
