= link_to "Back to list", offers_path

%h2.text-center= offer.title
.row
  .medium-8.columns
    = render 'offers/show/description'
  .medium-4.columns
    .card.shadow.offer__sidebar
      .card-section
        = render 'offers/show/company_desc'
      .card-section
        = render 'offers/show/details'
