= link_to "Back to list", offers_path
%h1
  Job offer:
  = offer.title

%table
  %tbody
    %tr
      %td Company
      %td= offer.company.name
    %tr
      %td Location
      %td= offer.location
    %tr
      %td Salary
      %td= offer.salary
    %tr
      %td Contact email:
      %td= offer.contact_email
    %tr
      %td Contact phone:
      %td= offer.contact_phone

%h3 Description
!= textilize offer.description

- if can? :update, offer
  = link_to "Edit", edit_offer_path(offer), class: "button secondary"
- if can? :destroy, offer
  = link_to "Delete", offer, method: :delete, class: "button alert"
