= link_to "Back to list", offers_path
%h1
  Job offer:
  = offer.title

%table
  %tbody
    %tr
      %td Company
      %td= offer.company.name
    %tr
      %td Location
      %td= offer.full_location
    %tr
      %td Salary
      %td= offer.salary
    %tr
      %td Contact email:
      %td= offer.contact_email
    %tr
      %td Contact phone:
      %td= offer.contact_phone

%h3 Description
!= textilize offer.description

- if can? :update, offer
  = link_to t('.edit'), edit_offer_path(offer), class: "button secondary"
  - if offer.published?
    = link_to t('.unpublish'), unpublish_offer_path(offer), method: :patch, class: "button alert"
  - else
    = link_to t('.publish'), publish_offer_path(offer), method: :patch, class: "button success"
- if can? :destroy, offer
  = link_to t('.delete'), offer, method: :delete, class: "button alert"
