= link_back

.row
  .columns.large-4.large-push-8
    .card.shadow.offer__sidebar
      .card-section
        = render 'offers/show/company_desc'
        = render 'offers/show/details'
  .columns.large-8.large-pull-4
    %h2.text-center= offer.title
    = render 'offers/show/description'
