= link_to "Back to list", offers_path

.row
  .medium-9.columns
    = render 'details'
    .card.shadow.offer__description
      .card-divider
        %h4= t('offers.show.description')
      .card-section
        = markdown offer.description
  .medium-3.columns
    = render 'application'

