= link_to "Back to list", offers_path
%h1
  Job offer:
  = offer.title

= render 'details'
= render 'application_form'

%h3 Description
.offer__description
  != textilize offer.description

= render 'actions'
