= link_to "Back to list", offers_path
%h2= t('.heading') + offer.title

= render 'actions'
.row
  .medium-6.columns
    = render 'details'
  .medium-6.columns
    = render 'application'
- if signed_in? && can?(:create, OfferSave)
  - if offer.user_saved?(current_candidate)
    = link_to t('offers.unsave_offer'), destroy_offer_save_path(offer_id: offer), method: :delete
  - else
    = link_to t('offers.save_offer'), offer_offer_saves_path(offer_id: offer), method: :post

.card.shadow.offer__description
  .card-divider
    %h4 Job Description
  .card-section
    = markdown offer.description

= render 'actions'
