%h1= t('.heading')

%section.company_offers.card.shadow
  .card-divider
    %h3= t('.my_offers')
  = render @offers

%section.applied_offers.card.shadow
  .card-divider
    %h3= t('.applications')
  - @applications.each do |offer, applications|
    .card-divider
      %h4= offer.title
    = render applications
