%h1= t('.heading')

.row
  .columns.medium-6

    - if current_company.balance.to_f != 0
      .card.dashboard_card
        .card-divider
          %h4= t('.vouchers')
        .card-section
          %p
            != t('.vouchers_text', balance: Prices.formatted_price(current_company.balance, 'pln'))
            = link_to t('.order'), premium_path

    .card.dashboard_card
      .card-divider
        %h4= t('.premium_services')
      .card-section
        - if current_company.premium?
          %p
            = t('.premium_employer_valid_until', dt: l(current_company.premium_until, format: :blog))
        - if current_company.premium_services.present?
          %p= t('.premium_services_available')
          %ul
          - current_company.premium_services.each do |k,v|
            %li
              = v
              &times;
              = Product.find_by(id: k).local_name
        = link_to t('.order_premium'), premium_path, class: 'button '


  .columns.medium-6
    .card.dashboard_card
      .card-divider
        %h4= t('.my_offers')
      .card-section
        %p
          You have
          = link_to my_offers_path do
            = @stats[:offer_count]
            offers.

        %div
          = link_to t('nav.add_offer'), new_offer_path, class: 'button '
          = link_to t('.manage_offers'), my_offers_path, class: 'button '

    .card.dashboard_card
      .card-divider
        %h4= t('.candidates')
      .card-section
        - if current_company.premium?
          = link_to t('.browse_candidate_profiles'), candidates_path, class: 'button '
        - else
          = t('.not_premium_employer')
          = link_to t('.become_premium'), premium_path, class: 'button '
    .card.dashboard_card
      .card-divider
        %h4= t('.orders')
      .card-section
        - if @stats[:unpaid_orders_count] != 0
          = t('.you_have_orders')
          = t('.unpaid_order', count: @stats[:unpaid_orders_count])
        = link_to t('.manage_orders'), orders_path, class: 'button primary'
