%h1= t('.heading')

%section.premium_membership

.row
  .columns.medium-6
    .company_offers.card
      .card-divider
        %h3= t('.my_offers')
      .card-section
        = @offers.count
        = link_to "All offers", company_offers_path(current_company)

  .columns.medium-6
    .offer_applications.card
      .card-divider
        %h3= t('.applications')

      .card-section
        = @applications.count
