%h1= t('.heading')

%section.premium_membership

.card
  .card-divider
    %h4 Candidates
  .card-section
    - if current_company.premium?
      = link_to "Browse candidate profiles", candidates_path, class: 'button large'
    - else
      Only Premium Employers can browse candidate profiles.
      = link_to "Become a Premium Employer", premium_path, class: 'button large'

.card
  .card-divider
    %h4= t('.my_offers')
  .card-section
    You have
    = link_to my_offers_path do
      = @stats[:offer_count]
      offers.

    %div
      = link_to t('nav.add_offer'), new_offer_path, class: 'button large'
      = link_to "Manage offers", my_offers_path, class: 'button large'

.card
  .card-divider
    %h4= t('.premium_services')
  .card-section
    - if current_company.premium?
      %p
        = t('.premium_employer_valid_until', dt: l(current_company.premium_until, format: :blog))
    - if current_company.premium_services.present?
      %p= t('.premium_services_available')
      %ul
      - current_company.premium_services.each do |k,v|
        %li
          = v
          &times;
          = Product.find_by(id: k).local_name
    = link_to "Order Premium Services", premium_path, class: 'button large'


- if @stats[:unpaid_orders_count] != 0
  .card
    .card-divider
      %h4= t('.orders')
    .card-section
      You have
      = link_to orders_path do
        = @stats[:unpaid_orders_count]
        unpaid orders.
