%h1= t('.heading')

.row
  .columns.medium-4
    .dashboard-nav-card.green-bg
      = fa_icon 'briefcase', class: 'dashboard-nav-card-icon'
      %h3.dashboard-nav-card-title
        = current_company.offers.count
        %br
        = t('.my_offers')
  .columns.medium-4
    .dashboard-nav-card.blue-bg
      = fa_icon 'users', class: 'dashboard-nav-card-icon'
      %h3.dashboard-nav-card-title= t('.applications')
  .columns.medium-4
    .dashboard-nav-card.purple-bg
      = fa_icon 'envelope', class: 'dashboard-nav-card-icon'
      %h3.dashboard-nav-card-title= t('.messages')
