%h1= t('.heading')

%section.premium_membership

.card
  .card-divider
    %h4 Premium Services
  .card-section
    - if current_company.premium?
      %p
        Your Premium Employer Bundle is valid until
        = l current_company.premium_until
    - if current_company.premium_services.present?
      %p You can use the following Premium Services:
      %ul
      - current_company.premium_services.each do |k,v|
        %li
          = v
          &times;
          = Product.find_by(id: k).local_name

- if @stats[:unpaid_orders_count] != 0
  .card
    .card-divider
      %h4 Orders
    .card-section
      You have
      = @stats[:unpaid_orders_count]
      unpaid orders.

.card
  .card-divider
    %h4 Offers
  .card-section
    You have
    = link_to my_offers_path do
      = @stats[:offer_count]
      offers.
