%h1= t('.heading')

%section.premium_membership
  - if current_company.premium_membership

%section.company_offers
  %h3= t('.my_offers')
  = render @offers

%section.applied_offers
  %h3= t('.applications')
  %table.hover#clickable_table
    %thead
      %td Offer title:
      %td Applications
    %tbody
      - @applications.each do |offer, applications|
        %tr{'data-link' => offer_applications_path(offer)}
          %td= link_to offer.title, offer_applications_path(offer)
          %td= offer.applications.count
