- stylesheet 'Jcrop'
- javascript 'Jcrop'
%h1= t('.heading')
= link_to t('.skip'), profile_path, class: 'button alert expanded'
= image_tag avatar.file_url, id: "cropbox"
= form_for avatar do |f|
  - %w[x y w h].each do |attribute|
    = f.hidden_field "crop_#{attribute}"
  .actions
    = f.submit t('.submit'), class: 'button success expanded'
