%h1 Crop Avatar
= image_tag avatar.file_url(:large), id: "cropbox"
%h4 Preview
%div{:style => "width:100px; height:100px; overflow:hidden"}
  = image_tag avatar.file_url(:large), :id => "preview"
= form_for avatar do |f|
  - %w[x y w h].each do |attribute|
    = f.hidden_field "crop_#{attribute}"
  .actions
    = f.submit "Crop"
