%footer.footer
  .row
    .columns.medium-8
      %p
        %strong InJobs.pl sp. z o.o.<br>
      %nav.footer__menu
        = link_to t('nav.contact'), contact_path
        &bull;
        = link_to t('.subscribe'), new_newsletter_subscription_path
        &bull;
        = link_to t('.unsubscribe'), unsubscribe_path
        &bull;
        = link_to t('.terms_of_service'), regulamin_path
    .columns.medium-4
      = render 'payments'
