%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:charset => "utf-8"}/
  <link href="" rel="stylesheet">
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
  %title= page_title
  = stylesheet_link_tag    "application"
  = yield :stylesheets
  = javascript_include_tag "application", 'data-turbolinks-track' => true
  = yield :javascripts
  = csrf_meta_tags

