%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
  = display_meta_tags site: 'InJobs', reverse: true
  = stylesheet_link_tag    "application"
  = yield :stylesheets
  = javascript_include_tag "application", 'data-turbolinks-track' => true
  - unless browser.ie? || browser.edge?
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600&amp;subset=latin-ext" rel="stylesheet">
  = yield :javascripts
  = csrf_meta_tags

