.off-canvas.position-left#offCanvas{'data-off-canvas': ''}
  %button.close-button{'aria-label' => "Close menu", 'data-close': ''}
    %span{'aria-hidden': true} &times;
  %ul.menu.vertical
    %li= locale_link((current_locale == :en ? :pl : :en))
    %li= link_to t('nav.home'), root_path
    - if company_signed_in?
      %li= link_to t('nav.jobs'), offers_path
      %li= link_to t('nav.candidates'), candidates_path
    -else
      %li= link_to t('nav.jobs_pl'), offers_path
      %li= link_to t('nav.jobs_abroad'), offers_path
      %li= link_to t('nav.companies'), companies_path
  %hr/
  %ul.menu.vertical
    - if signed_in?
      -if admin_signed_in?
        %li= link_to "Dashboard", "#"
      - else
        %li= link_to "Profile", profile_path
      %li= link_to "Sign out", destroy_user_session_path, method: :delete 
    - else
      %li= link_to t('nav.sign_in'), new_user_session_path
      %li= link_to t('nav.sign_up'), sign_up_path



