.top-bar.show-for-large
  .row
    .top-bar-left
      %ul.menu
        %li.topbar__logo= link_to image_tag('/logo.svg'), root_path, data: { turbolinks: false }
        %li= link_to t('nav.poland'), jobs_poland_path
        %li= link_to t('nav.abroad'), jobs_abroad_path
        %li= link_to t('nav.companies'), companies_path
    .top-bar-right
      %ul.dropdown.menu{'data-dropdown-menu' => true}
        %li.is-dropdown-submenu-parent.locale_dropdown
          = link_to "#" do
            = image_tag("flag-#{current_locale}.svg", class: 'locale_flag')
            = current_locale.to_s.upcase
          %ul.menu
            %li.locale_link
              - other_locale = current_locale == :pl ? 'en' : 'pl'
              = link_to lang: other_locale, data: { turbolinks: false } do
                = image_tag("flag-#{other_locale}.svg", class: 'locale_flag')
                = other_locale.upcase

        - if logged_in?
          %li= link_to t('nav.dashboard'), dashboard_path
          %li= link_to t('nav.profile'), profile_path
          - if admin_user_signed_in?
            %li= link_to 'Panel', admin_dashboard_path
          - else
            - if company_signed_in?
              %li
                = link_to cart_path do
                  %span.fa.fa-shopping-cart
                  %span#current_cart_total= sprintf("%.2f PLN", current_cart.total)
          %li= link_to t('nav.sign_out'), destroy_user_session_path, method: :delete 
        - else
          %li= link_to t('nav.sign_in'), new_user_session_path
          %li= link_to t('nav.sign_up'), sign_up_path


