-breadcrumb :order_premium
- content_for :full_width do
  - @products.each do |product|
    %section.premium-landing-page__section.product{id: dom_id(product)}
      .row.container
        %h1= product.local_name
        != unsafe_markdown product.local_description

        %p
          != t('.price_net', price_pln: localized_currency_value(net_price(product.price_pln)), price_eur: localized_currency_value(net_price(product.price_eur)))
          %small!= t('.price_incl_tax', price_pln: localized_currency_value(product.price_pln), price_eur: localized_currency_value(product.price_eur))
        

        .premium-landing-page__quantity_form
          = form_with model: CartItem.new do |f|
            = f.hidden_field :product_id, value: product.id
            .input-group
              %span.input-group-label= t('.quantity')
              = f.number_field :quantity, value: 1, class: 'input-group-field'
              .input-group-button
                = f.submit t('.add_to_cart'), class: 'button primary'
        .callout.alert-callout-subtle.success.premium-landing-page__item_added.hide{id: "item_added_#{product.id}"}
          = t('.item_added')
          = link_to t('.go_to_cart'), cart_path

