- unless request.path == company_path(company)
  = link_to company do
    %h2.company__name.company__name--margin-top= company.name
- else
  %h2.company__name.company__name--margin-top= company.name

- if company.website.present?
  %span.label.dark-blue-bg
    = link_to fa_icon('globe', text: strip_http(company.website)), company.website
.company__details__info
  - if company.location.present?
    %span= fa_icon('map-marker', text: company.location)
  %span
    = t('plurals.offer', count: company.offers.size)
    |
    = fa_icon('star-o', text: @rating)
- if can? :edit, company
  .card-section__actions
    = edit_button edit_company_path(company)
