
- if company.website.present?
  = link_to company.website do
    %span.label.dark-blue-bg.company__website
      = fa_icon('globe', text: strip_http(company.website))
.company__details__info
  - if company.location.present?
    %span= fa_icon('map-marker', text: company.location)
  %span
    = t('plurals.offer', count: company.offers.size)
    |
    = fa_icon('star-o', text: @rating)
- if can? :edit, company
  .card-section__actions
    = edit_button edit_company_path(company)
