%h2.company__name= company.name
- if company.website.present?
  = fa_icon 'globe'
  = link_to company.website, company.website
%p= company.location if company.location.present?
- if can? :edit, company
  .card-section__actions
    = link_to fa_icon('pencil') + ' ' + I18n.t('actions.edit'), edit_company_path(company), class: 'custom_button'
