- stylesheet 'jquery.rateyo'

.card-divider
  %h3= t('companies.show.rate_company')
.card-section
  .row.text-center
    .medium-6.columns
      #rateYo.float-center
    .medium-6.columns
      #company_rating
        = t('companies.vote.avg_rating', rating: @rating, ratings: @ratings_count)
        - if candidate_signed_in?
          - rating = company.user_rating(current_candidate)
          %br
          - if rating.nil?
            = t ('companies.vote.not_voted_yet')
          - else
            = t('companies.vote.your_rating', user_rating: company.user_rating(current_candidate))

:javascript
  $('#rateYo').rateYo({
    ratedFill: '#175eba',
    fullStar: true,
    rating: #{@rating},
    starWidth: '48px',
    onSet: function(r, ryi) {
      $.post(window.location.pathname + '/vote',
        {v: r}
      );
    }
  });
