%h1= t('resumes.new.heading')

= simple_form_for Resume.new, remote: true, multipart: true do |f|
  = error_messages_for f.object
  = f.label :language
  = f.select :language, options_from_collection_for_select(I18n.t('languages'), :first, :last, 'pl')
  = f.input :description
  = f.file_field :file
  = f.submit t('resumes.new.submit'), class: 'button success expanded'
