%h1 Upload resumé

= simple_form_for Resume.new, multipart: true do |f|
  = f.label :language, "Language:"
  = f.select :language, options_from_collection_for_select(I18n.t('languages'), :first, :last, 'pl')
  = f.input :description
  = f.file_field :file
  = f.submit
