%h1 Edit skills

= link_to "Back to profile", profile_path

%h3 Your skills
- if @skill_items.any?
  %table
    %thead
      %tr
        %td Skill name
        %td Level
        %td Actions
    %tbody
      - for skill in @skill_items
        %tr
          %td= skill.name
          %td= t(skill.level_key)
          %td= link_to "Delete", skill, method: :delete

= simple_form_for @skill_items.new do |f|
  .row
    .medium-4.columns
      = f.input :skill_name, label: false, placeholder: "Skill name"
    .medium-4.columns
      = f.select :level, options_from_collection_for_select(I18n.t('skill_levels'), :first, :last)
    .medium-4.columns
      = f.submit "Add skill", class: 'button primary expanded'
