%h1 Edit skills

= link_to "Back to profile", profile_path

%h3 Your skills
- if @skills.any?
  %table
    %thead
      %tr
        %td Skill name
        %td Level
        %td Actions
    %tbody
      - for skill in @skills
        %tr
          %td= skill.name
          - key = ['skill_levels', skill.category, skill.level].compact.join('.')
          %td= t(key)
          %td= link_to "Delete", skill, method: :delete

= simple_form_for @skills.new do |f|
  .row
    .medium-4.columns
      = f.input :name, label: false, placeholder: "Skill name"
    .medium-4.columns
      = f.select :level, options_from_collection_for_select(I18n.t('skill_levels'), :first, :last)
    .medium-4.columns
      = f.submit "Add skill", class: 'button primary expanded'
