.row
  .medium-9.columns
    = profile_section nil do
      .medium-4.columns
        .avatar.avatar--large{style: "background-image: url(avatar.png)"}
      .medium-8.columns
        %h2= @user.display_name

    = profile_section "Skills" do
      - if @skills.any?
        %table
          %tbody
            = render partial: 'skills/skill', collection: @skills
      - else
        No skills.
      = link_to "Edit your skills...", profile_edit_skills_path

    = profile_section "Education" do
      %ul
        %li Chinese Studies at Adam Mickiewicz University in Poznań, Poland

    = profile_section "Work experience" do
      %ul
        %li Internship at Goodlife 好生活, Taipei, Taiwan
