.row
  .medium-9.columns
    = profile_section nil do
      .medium-4.columns
        = avatar_for current_user
      .medium-8.columns
        %h2= @user.display_name
        = section_link "Change profile picture...", new_avatar_path, :small

    = profile_section "Skills" do
      - if @skill_items.any?
        %table
          %tbody
            = render partial: 'skills/skill', collection: @skill_items
      - else
        No skills.
      = section_link "Edit your skills...", profile_edit_skills_path

    = profile_section "Education" do
      - if @cv_items.any?
        %table
          %tbody
            = render partial: 'cv_items/cv_item', collection: @cv_items
      = section_link "Edit your education...", profile_edit_education_path

    = profile_section "Work experience" do
      %ul
        %li Internship at Goodlife 好生活, Taipei, Taiwan
