- set_meta_tags title: t('registrations.meta_title'),
                description: t('registrations.meta_description')
                
.row.split-screen-signup
  .medium-5.medium-push-7.columns.text-center.vertical-center
    %h2= t('registrations.step1.not_a_candidate')
    = link_to t('registrations.step1.company_registration'), new_company_registration_path, class: 'button large'
    %hr.show-for-small-only
  .medium-7.medium-pull-5.columns.border-right-for-medium
    %h3= t('registrations.candidate_heading')
    %p= t('registrations.step1.explanation')
    %p= t('registrations.step1.facebook_information')
    = link_to candidate_facebook_omniauth_authorize_path, class: 'button' do
      = fa_icon('thumbs-up', text: t('fb_sign_up'))
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      = f.invisible_captcha :username
      = f.fields_for :profile do |p|
        = p.input :first_name
        = p.input :last_name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = render 'acceptance_fields', f: f
      = f.submit t('registrations.step1.submit'), class: 'button primary expanded', id: 'submit_button', disabled: true
