!!!
%html{:lang => "en"}
  = render 'header'
  %body
    = render 'offcanvas'
    .off-canvas-content{'data-off-canvas-content': ''}
      = render 'topbar' # topbar, visible for medium and above
      = render 'titlebar' # visible for small screens
      = yield :banner
      .container
        .row.relative
          %button{type: 'button', 'data-open': 'offCanvas'}
          = breadcrumbs separator: " &raquo; "
          .padding-for-small
            = render 'messages'
          = yield
      = render 'footer'
      
    = render 'ga'
