!!!
%html{:lang => I18n.locale}
  = render 'header'
  %body{class: controller_name + ' ' + action_name}
    = render 'offcanvas'
    .off-canvas-content{'data-off-canvas-content': ''}
      = render 'topbar' # topbar, visible for medium and above
      = render 'titlebar' # visible for small screens
      = yield :banner
      - container_classes = content_for(:full_width).present? ? 'container' : 'container content'
      %div{class: container_classes}
        .row.relative
          %button{type: 'button', 'data-open': 'offCanvas'}
          = breadcrumbs separator: " &raquo; " unless @hide_breadcrumbs
          .padding-for-small
            = render 'messages'
          = yield
          = render 'cookies_eu/consent_banner'
      = yield :full_width
      = render 'footer'
      
    = render 'ga'
