!!!
%html{:lang => "en"}
  = render 'shared/header'
  %body{class: "#{controller_name} #{action_name}"}
    = render 'shared/offcanvas'
    .off-canvas-content{'data-off-canvas-content': ''}
      = render 'shared/topbar' # topbar, visible for medium and above
      = render 'shared/titlebar' # visible for small screens
      .container
        .row
          %button{type: 'button', 'data-open': 'offCanvas'}
          = render 'shared/messages'
          = yield
        .row
          %hr/
          InJobs
          - if Rails.env.development? && false
            %small= debug flash
            %small= debug params
      
