!!!
%html{:lang => "en"}
  = render 'header'
  %body
    = render 'offcanvas'
    .off-canvas-content{'data-off-canvas-content': ''}
      = render 'topbar' # topbar, visible for medium and above
      = render 'titlebar' # visible for small screens
      .container
        .row.relative
          %button{type: 'button', 'data-open': 'offCanvas'}
          = breadcrumbs
          = render 'messages'
          = yield
        .row.padding-for-small
          %hr/
          InJobs
          - if Rails.env.development? && false
            %small= debug flash
            %small= debug params
      
    = render 'ga'
