!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : t('default_title')
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "#{controller_name} #{action_name}"}
    = render 'shared/topbar'
    .container
      .row
        = render 'shared/messages'
        = yield
      .row
        %hr/
        InJobs
        - if Rails.env.development?
          = flash.to_json
    
