!!!
%html{:lang => "en"}
  = render 'header'
  = javascript_include_tag 'owl.carousel'
  = stylesheet_link_tag 'owl.carousel'
  = stylesheet_link_tag 'owl.theme.default.css'
  %body.home
    = render 'offcanvas'
    .off-canvas-content{'data-off-canvas-content': ''}
      = render 'topbar'
      = render 'titlebar'
      .home__row1
        .row.home__row1__container
          .home__row1__text
            = yield :row1
      .container
        .row
          = render 'messages'
        = yield
      
      .footer
        .row
          = render 'footer'
    = render 'ga'
