!!!
%html{:lang => "en"}
  = render 'header'
  = stylesheet_link_tag 'owl.carousel'
  = stylesheet_link_tag 'owl.theme.css'
  %body.home{'data-turbolinks' => 'false'}
    = render 'offcanvas'
    .off-canvas-content{'data-off-canvas-content': ''}
      = render 'topbar'
      = render 'titlebar'
      .container
        .row
          = render 'messages'
        = yield
      = render 'footer'
    = render 'ga'
