!!!
%html{:lang => "en"}
  = render 'header'
  = stylesheet_link_tag 'owl.carousel'
  = stylesheet_link_tag 'owl.theme.css'
  %body.home
    = render 'offcanvas'
    .off-canvas-content{'data-off-canvas-content': ''}
      = render 'topbar'
      = render 'titlebar'
      = render 'home/carousel'
      .container
        .row
          = render 'messages'
        = yield
      .footer
        .row
          = render 'footer'
    = render 'ga'
